.container{
	max-width: 1170px;
	margin: 0 auto;
	height: 100%;
}

$lato: 'Lato', 'Arial', sans-serif;
$playfair: 'PlayFair', 'Arial', sans-serif;

.clearfix{
  &:before,
  &:after{
    content: " ";
    display: table;
  }
  &:after{
    clear: both;
  }
}